<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <logger name="org.eclipse" level="warn"/>
    <logger name="io.monkeypatch.talks.dephosting" level="all"/>
</configuration>